In [26]:

from pathlib import Path
import pandas as pd
import numpy as np

In [27]:
# check the missed countries.


data = pd.read_csv('UNICEF_percentage_and_population_levels_groups20220209.csv')

data = data[['country','Total_Never entered primary','Total_Dropped out of primary','Total_Still attending primary',
             'Total_Did not transition to lower secondary','Total_Dropped out of lower secondary','Total_Still attending lower secondary',
             'Total_Did not transition to upper secondary','Total_Transitioned to upper secondary',          
             'Total_population_agerange']]
data

,country,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange
0,Afghanistan,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983
1,Albania,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990
2,Algeria,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845
3,Angola,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021
4,Argentina,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984
...,...,...,...,...,...,...,...,...,...,...
92,Uruguay,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968
93,Viet Nam,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130
94,Yemen,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731
95,Zambia,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025
96,Zimbabwe,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280

The UNICEF pathway data doesn't include the 'Dropped out of upper secondary'.
The data is percentage data. We need to multiply the total population in the age range, Unit 1000.

These step-by-step subs make each levels only include the children that **specifically** leave at this level

# Sanity check for the mini group data
1. Primary - 33.86 + 8.254 + 3.1416 = 45.25
2. LS =  3.79 + 3.98 + 14.56 =22.33
3. US =  1.706868 

45.531657	22.318897	1.706868	

The population is 16 to 18 as 952 + 926 + 900 = 2778

# Here we get the population data in needs, unit as one children

In [28]:
cats = data.columns.tolist()[1:-1]
print(cats)

for cat in cats:
    data[f'{cat}_pop'] = data[f'{cat}']/100 * data['Total_population_agerange'] * 1000
# percentage for 100, and 1000 as the unit for population 

pop_df = data 

pop_df 
 
# take out the dropout one, 
# same for upper secondary

['Total_Never entered primary', 'Total_Dropped out of primary', 'Total_Still attending primary', 'Total_Did not transition to lower secondary', 'Total_Dropped out of lower secondary', 'Total_Still attending lower secondary', 'Total_Did not transition to upper secondary', 'Total_Transitioned to upper secondary']

,country,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,Total_Never entered primary_pop,Total_Dropped out of primary_pop,Total_Still attending primary_pop,Total_Did not transition to lower secondary_pop,Total_Dropped out of lower secondary_pop,Total_Still attending lower secondary_pop,Total_Did not transition to upper secondary_pop,Total_Transitioned to upper secondary_pop
0,Afghanistan,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,940662.293496,229310.741254,94888.643300,105183.949666,110470.039840,404361.164774,47416.496566,8.456897e+05
1,Albania,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,1648.552290,1070.629331,148.738857,557.865393,1092.956242,72.909191,14806.229681,1.305921e+05
2,Algeria,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,38680.317844,58303.808936,7120.833048,7971.441581,230048.138658,480804.872336,50443.852822,9.194717e+05
3,Angola,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,170094.617000,214275.037000,503656.788000,35344.336000,72897.693000,872563.295000,17672.168000,3.247261e+05
4,Argentina,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,4263.968000,14923.888000,31979.760000,29847.776000,130051.024000,624671.312000,34111.744000,1.264267e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Uruguay,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,2043.552000,1897.584000,1167.744000,7006.464000,15472.608000,50650.896000,5838.720000,6.189043e+04
93,Viet Nam,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,66795.210000,62866.080000,3929.130000,47149.560000,330046.920000,192527.370000,310401.270000,2.919344e+06
94,Yemen,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,211650.948000,301798.574000,115624.129000,119543.591000,109744.936000,460536.785000,33315.427000,6.075166e+05
95,Zambia,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,44978.377455,205783.971541,166023.485148,99237.374502,58752.962249,302423.654225,69751.324831,3.290739e+05
96,Zimbabwe,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,4481.091366,91339.887239,5631.746589,198168.288344,236406.499874,296767.672313,411853.403237,8.763141e+04

2778000 * 0.3386  = 940 630

In [29]:
# check the negative case
(pop_df.iloc[:,1:] < 0).any()

Total_Never entered primary                        False
Total_Dropped out of primary                       False
Total_Still attending primary                      False
Total_Did not transition to lower secondary        False
Total_Dropped out of lower secondary               False
Total_Still attending lower secondary              False
Total_Did not transition to upper secondary        False
Total_Transitioned to upper secondary              False
Total_population_agerange                          False
Total_Never entered primary_pop                    False
Total_Dropped out of primary_pop                   False
Total_Still attending primary_pop                  False
Total_Did not transition to lower secondary_pop    False
Total_Dropped out of lower secondary_pop           False
Total_Still attending lower secondary_pop          False
Total_Did not transition to upper secondary_pop    False
Total_Transitioned to upper secondary_pop          False
dtype: bool

# here is the duration of education for each level

In [30]:
dur_data = pd.read_csv('years_of_school_levels.csv') 
ind_list = ['Theoretical duration of primary education (years)','Theoretical duration of lower secondary education (years)','Theoretical duration of upper secondary education (years)']
bool_list = dur_data.Indicator.isin(ind_list)
dur_data = dur_data[bool_list]


levels = ['primary','lower secondary','upper secondary']
for level in levels:
    
    dur_group_tmp = dur_data[['Country','Indicator','Time']]
    dur_group_tmp = dur_group_tmp[dur_group_tmp['Indicator']==f'Theoretical duration of {level} education (years)']
    
    
    dur_group = dur_group_tmp.groupby('Country').max(numeric_only=False)
    
    if level == 'primary': 
        dur_df = dur_group.reset_index()
        dur_df = dur_df.merge(dur_data,on=['Country','Time','Indicator'])
        dur_df=dur_df[['Country','Value']]
        dur_df=dur_df.rename({'Value':f'{level}_dur'},axis='columns')
    else:
        dur_df_tmp = dur_group.reset_index()
        dur_df_tmp = dur_df_tmp.merge(dur_data,on=['Country','Time','Indicator'])
        dur_df_tmp = dur_df_tmp[['Country','Value']]
        dur_df_tmp=dur_df_tmp.rename({'Value':f'{level}_dur'},axis='columns')
        dur_df = dur_df.merge(dur_df_tmp,on='Country')
dur_df
# dur_df['primary_need_dur'] = dur_df['primary_dur'] + dur_df['lower secondary_dur'] +dur_df['upper secondary_dur'] 
# dur_df['lower secondary_need_dur'] =  dur_df['lower secondary_dur'] +dur_df['upper secondary_dur'] 
# dur_df['upper secondary_need_dur'] =  dur_df['upper secondary_dur'] 
# dur_df['drop_primary_need_dur'] = dur_df['primary_dur']/2 + dur_df['lower secondary_dur'] +dur_df['upper secondary_dur'] 
# dur_df['drop_lower secondary_need_dur'] = dur_df['lower secondary_dur']/2 +dur_df['upper secondary_dur'] 
# # use the demical half year 
# dur_df

            Country  primary_dur  lower secondary_dur  upper secondary_dur
0       Afghanistan          6.0                  3.0                  3.0
1           Albania          5.0                  4.0                  3.0
2           Algeria          5.0                  4.0                  3.0
3    American Samoa          6.0                  4.0                  2.0
4           Andorra          6.0                  4.0                  2.0
..              ...          ...                  ...                  ...
219        Viet Nam          5.0                  4.0                  3.0
220  Western Sahara          5.0                  3.0                  3.0
221           Yemen          6.0                  3.0                  3.0
222          Zambia          7.0                  2.0                  3.0
223        Zimbabwe          7.0                  2.0                  4.0

[224 rows x 4 columns]

# combine the duration data and filled the default

In [31]:
pop_df.rename({
    'country':'Country'
},axis=1,inplace=True)
main_df = pop_df.merge(dur_df,how='left',on='Country')
display(main_df)

main_df['primary_dur'] = main_df['primary_dur'].fillna(6)
main_df['lower secondary_dur'] = main_df['lower secondary_dur'].fillna(3)
main_df['upper secondary_dur'] = main_df['upper secondary_dur'].fillna(3)

,Country,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,...,Total_Dropped out of primary_pop,Total_Still attending primary_pop,Total_Did not transition to lower secondary_pop,Total_Dropped out of lower secondary_pop,Total_Still attending lower secondary_pop,Total_Did not transition to upper secondary_pop,Total_Transitioned to upper secondary_pop,primary_dur,lower secondary_dur,upper secondary_dur
0,Afghanistan,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,...,229310.741254,94888.643300,105183.949666,110470.039840,404361.164774,47416.496566,8.456897e+05,6.0,3.0,3.0
1,Albania,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,...,1070.629331,148.738857,557.865393,1092.956242,72.909191,14806.229681,1.305921e+05,5.0,4.0,3.0
2,Algeria,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,...,58303.808936,7120.833048,7971.441581,230048.138658,480804.872336,50443.852822,9.194717e+05,5.0,4.0,3.0
3,Angola,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,...,214275.037000,503656.788000,35344.336000,72897.693000,872563.295000,17672.168000,3.247261e+05,6.0,3.0,3.0
4,Argentina,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,...,14923.888000,31979.760000,29847.776000,130051.024000,624671.312000,34111.744000,1.264267e+06,6.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Uruguay,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,...,1897.584000,1167.744000,7006.464000,15472.608000,50650.896000,5838.720000,6.189043e+04,6.0,3.0,3.0
93,Viet Nam,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,...,62866.080000,3929.130000,47149.560000,330046.920000,192527.370000,310401.270000,2.919344e+06,5.0,4.0,3.0
94,Yemen,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,...,301798.574000,115624.129000,119543.591000,109744.936000,460536.785000,33315.427000,6.075166e+05,6.0,3.0,3.0
95,Zambia,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,...,205783.971541,166023.485148,99237.374502,58752.962249,302423.654225,69751.324831,3.290739e+05,7.0,2.0,3.0
96,Zimbabwe,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,...,91339.887239,5631.746589,198168.288344,236406.499874,296767.672313,411853.403237,8.763141e+04,7.0,2.0,4.0

The drop out of school children need *half* of current session and all session later. The children-in-need need all the year from now on.

# Currently, not GINI data, but remember to time 50% discount for the GDP earning.

# load the GDP values, Units are Dollar per Capita

In [32]:
gdp_data = pd.read_csv('GDP_percapital_UIS.csv') 

gpd_data_value = gdp_data.iloc[:,4:].T
gpd_data_value=gpd_data_value.dropna(axis=1,how='all')
gdp_data['GDP']=gpd_data_value.apply(lambda x: x[x.notnull()].values[-1]).T
gdp_df = gdp_data[['Country Name','GDP']]
gdp_df

                    Country Name           GDP
0                          Aruba  30253.279360
1    Africa Eastern and Southern   1356.699267
2                    Afghanistan    516.747871
3     Africa Western and Central   1710.073363
4                         Angola   1776.166868
..                           ...           ...
261                       Kosovo   4346.637931
262                  Yemen, Rep.    758.145242
263                 South Africa   5655.867654
264                       Zambia    985.132436
265                     Zimbabwe   1214.509820

[266 rows x 2 columns]

# The return rates are the increase of salery **from previous year** for the two levels. 
From the paper

In [33]:
return_data = pd.read_excel('Comparable Returns to Education Database.xlsx',sheet_name= 'Returns Database') 
maxyear = return_data.groupby(['Economy'],sort=False)['Year'].max()
return_data = return_data[['Economy','Year','Pri','Sec',' Î²1']]
return_data = return_data.merge(maxyear,on=['Economy','Year'])
# if the secondary data is empty, fill with same as the primary
return_data['Sec'].fillna(return_data[' Î²1'],inplace=True)
return_data = return_data[['Economy','Year','Pri','Sec']]
return_data.rename({'Pri':'primary_return_rate','Sec':'secondary_return_rate'},axis='columns',inplace=True)
return_df = return_data.dropna()
return_df

                Economy  Year  primary_return_rate  secondary_return_rate
0           Afghanistan  2007             4.110700               1.552420
1               Albania  2005            14.555667               2.877140
2             Argentina  2012             3.715300               4.690300
3               Armenia  2008            39.688335               0.829500
4             Australia  2010            13.997901              20.267717
..                  ...   ...                  ...                    ...
136  West Bank and Gaza  2008             8.101767               0.002800
138        South Africa  2011             8.879499              12.272751
139    Congo, Dem. Rep.  2004             8.990500               1.689300
140              Zambia  2012            13.316266              12.065867
141            Zimbabwe  2007            48.733002              17.451998

[93 rows x 4 columns]

# adding the GDP data

In [34]:
replace_gdp={'Egypt, Arab Rep.':'Egypt','Congo, Dem. Rep.':'Democratic Republic of the Congo',
             'Congo, Rep.':'Congo',
             'Lao PDR':'Lao People\'s Democratic Republic',
             'St. Lucia':'Saint Lucia',
             'Yemen, Rep.' : 'Yemen'
             }

replace_pop={'CâˆšÂ¥te d\'Ivoire':'Cote d\'Ivoire',
             'Viet Nam':'Vietnam'}
gdp_df = gdp_df.rename({'Country Name':'Country'},axis='columns')
gdp_df = gdp_df.replace(replace_gdp)
main_df = main_df.replace(replace_pop)
main_df = main_df.merge(gdp_df,on='Country',how='left')
main_df

,Country,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,...,Total_Still attending primary_pop,Total_Did not transition to lower secondary_pop,Total_Dropped out of lower secondary_pop,Total_Still attending lower secondary_pop,Total_Did not transition to upper secondary_pop,Total_Transitioned to upper secondary_pop,primary_dur,lower secondary_dur,upper secondary_dur,GDP
0,Afghanistan,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,...,94888.643300,105183.949666,110470.039840,404361.164774,47416.496566,8.456897e+05,6.0,3.0,3.0,516.747871
1,Albania,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,...,148.738857,557.865393,1092.956242,72.909191,14806.229681,1.305921e+05,5.0,4.0,3.0,5246.292306
2,Algeria,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,...,7120.833048,7971.441581,230048.138658,480804.872336,50443.852822,9.194717e+05,5.0,4.0,3.0,3306.858208
3,Angola,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,...,503656.788000,35344.336000,72897.693000,872563.295000,17672.168000,3.247261e+05,6.0,3.0,3.0,1776.166868
4,Argentina,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,...,31979.760000,29847.776000,130051.024000,624671.312000,34111.744000,1.264267e+06,6.0,3.0,3.0,8579.017773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Uruguay,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,...,1167.744000,7006.464000,15472.608000,50650.896000,5838.720000,6.189043e+04,6.0,3.0,3.0,15438.411670
93,Vietnam,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,...,3929.130000,47149.560000,330046.920000,192527.370000,310401.270000,2.919344e+06,5.0,4.0,3.0,2785.724161
94,Yemen,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,...,115624.129000,119543.591000,109744.936000,460536.785000,33315.427000,6.075166e+05,6.0,3.0,3.0,758.145242
95,Zambia,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,...,166023.485148,99237.374502,58752.962249,302423.654225,69751.324831,3.290739e+05,7.0,2.0,3.0,985.132436
96,Zimbabwe,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,...,5631.746589,198168.288344,236406.499874,296767.672313,411853.403237,8.763141e+04,7.0,2.0,4.0,1214.509820

# Adding the return data.
default inrease rate is 10%

In [35]:
return_df = return_df.rename({'Economy':'Country'},axis = 1)
data_final=main_df.merge(return_df,on='Country',how='left')
data_final['primary_return_rate'] = data_final['primary_return_rate'].fillna(10.0)
data_final['secondary_return_rate'] = data_final['secondary_return_rate'].fillna(10.0)
data_final

,Country,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,...,Total_Still attending lower secondary_pop,Total_Did not transition to upper secondary_pop,Total_Transitioned to upper secondary_pop,primary_dur,lower secondary_dur,upper secondary_dur,GDP,Year,primary_return_rate,secondary_return_rate
0,Afghanistan,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,...,404361.164774,47416.496566,8.456897e+05,6.0,3.0,3.0,516.747871,2007.0,4.110700,1.552420
1,Albania,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,...,72.909191,14806.229681,1.305921e+05,5.0,4.0,3.0,5246.292306,2005.0,14.555667,2.877140
2,Algeria,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,...,480804.872336,50443.852822,9.194717e+05,5.0,4.0,3.0,3306.858208,NaN,10.000000,10.000000
3,Angola,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,...,872563.295000,17672.168000,3.247261e+05,6.0,3.0,3.0,1776.166868,NaN,10.000000,10.000000
4,Argentina,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,...,624671.312000,34111.744000,1.264267e+06,6.0,3.0,3.0,8579.017773,2012.0,3.715300,4.690300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Uruguay,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,...,50650.896000,5838.720000,6.189043e+04,6.0,3.0,3.0,15438.411670,2012.0,3.993366,4.777500
93,Vietnam,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,...,192527.370000,310401.270000,2.919344e+06,5.0,4.0,3.0,2785.724161,2010.0,8.305800,3.264600
94,Yemen,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,...,460536.785000,33315.427000,6.075166e+05,6.0,3.0,3.0,758.145242,NaN,10.000000,10.000000
95,Zambia,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,...,302423.654225,69751.324831,3.290739e+05,7.0,2.0,3.0,985.132436,2012.0,13.316266,12.065867
96,Zimbabwe,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,...,296767.672313,411853.403237,8.763141e+04,7.0,2.0,4.0,1214.509820,2007.0,48.733002,17.451998

In [36]:
data_final['increasemental_rate_of_salaries_Never_entered_primary']  = (
                                    ((data_final['primary_return_rate']/100)+1)**data_final['primary_dur'] 
                                      *((data_final['secondary_return_rate']/100)+1)**data_final['lower secondary_dur']
                                      *((data_final['secondary_return_rate']/100)+1)**data_final['upper secondary_dur']
                                      * 100)

data_final['increasemental_rate_of_Dropped_out_of_primary']  = (
                                    ((data_final['primary_return_rate']/100)+1)**(data_final['primary_dur']/2)
                                      *((data_final['secondary_return_rate']/100)+1)**data_final['lower secondary_dur']
                                      *((data_final['secondary_return_rate']/100)+1)**data_final['upper secondary_dur']
                                      * 100)

data_final['increasemental_rate_of_Still_in_primary']  = (
                                    ((data_final['primary_return_rate']/100)+1)**(data_final['primary_dur']/2)
                                      *((data_final['secondary_return_rate']/100)+1)**data_final['lower secondary_dur']
                                      *((data_final['secondary_return_rate']/100)+1)**data_final['upper secondary_dur']
                                      * 100)

data_final['increasemental_rate_of_salaries_Did_not_transition_to_lower_secondary']  =  (
                                    ((data_final['secondary_return_rate']/100)+1)**data_final['lower secondary_dur']
                                      *((data_final['secondary_return_rate']/100)+1)**data_final['upper secondary_dur']
                                      * 100)

data_final['increasemental_rate_of_salaries_Dropped_out_of_lower_secondary']  =  (
                                    ((data_final['secondary_return_rate']/100)+1)**(data_final['lower secondary_dur']/2)
                                      *((data_final['secondary_return_rate']/100)+1)**data_final['upper secondary_dur']
                                      * 100)

data_final['increasemental_rate_of_salaries_Still_in_lower_secondary']  =  (
                                    ((data_final['secondary_return_rate']/100)+1)**(data_final['lower secondary_dur']/2)
                                      *((data_final['secondary_return_rate']/100)+1)**data_final['upper secondary_dur']
                                      * 100)


data_final['increasemental_rate_of_Did_not_transition_to_upper_secondary']  = (
                                      ((data_final['secondary_return_rate']/100)+1)**data_final['upper secondary_dur']
                                      * 100)
data_final

,Country,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,...,Year,primary_return_rate,secondary_return_rate,increasemental_rate_of_salaries_Never_entered_primary,increasemental_rate_of_Dropped_out_of_primary,increasemental_rate_of_Still_in_primary,increasemental_rate_of_salaries_Did_not_transition_to_lower_secondary,increasemental_rate_of_salaries_Dropped_out_of_lower_secondary,increasemental_rate_of_salaries_Still_in_lower_secondary,increasemental_rate_of_Did_not_transition_to_upper_secondary
0,Afghanistan,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,...,2007.0,4.110700,1.552420,139.673452,123.773526,123.773526,109.683592,107.178148,107.178148,104.729934
1,Albania,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,...,2005.0,14.555667,2.877140,240.610773,171.306413,171.306413,121.964146,115.237655,115.237655,108.882140
2,Algeria,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,...,NaN,10.000000,10.000000,313.842838,247.303640,247.303640,194.871710,161.051000,161.051000,133.100000
3,Angola,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,...,NaN,10.000000,10.000000,313.842838,235.794769,235.794769,177.156100,153.556103,153.556103,133.100000
4,Argentina,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,...,2012.0,3.715300,4.690300,163.868557,146.881516,146.881516,131.655397,122.907674,122.907674,114.741186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Uruguay,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,...,2012.0,3.993366,4.777500,167.356282,148.807598,148.807598,132.314730,123.369029,123.369029,115.028140
93,Vietnam,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,...,2010.0,8.305800,3.264600,186.603099,152.858489,152.858489,125.216128,117.424126,117.424126,110.117008
94,Yemen,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,...,NaN,10.000000,10.000000,313.842838,235.794769,235.794769,177.156100,153.556103,153.556103,133.100000
95,Zambia,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,...,2012.0,13.316266,12.065867,424.045612,273.772410,273.772410,176.752997,157.722419,157.722419,140.740818
96,Zimbabwe,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,...,2007.0,48.733002,17.451998,4226.820929,1053.387472,1053.387472,262.520032,223.512616,223.512616,190.301246

In [37]:

##  around the year before into inter 
##  experience discount  
def retrun_rate_long_term(return_rate,year_before_work,year_of_work=40,discount_rate=10):
    year_before_work = np.ceil(year_before_work)
    return_sum = 0 
    for year in range(int(year_before_work),int(year_before_work)+int(year_of_work)):
        return_this_year = (1+return_rate/100)/(1+(discount_rate/100))**year
        return_sum = return_sum + return_this_year
    return return_sum

In [38]:
data_final['year_before_work_primary_full'] = data_final['primary_dur'] + data_final['lower secondary_dur'] + data_final['upper secondary_dur']
data_final['year_before_work_primary_half'] = data_final['primary_dur']/2 + data_final['lower secondary_dur'] + data_final['upper secondary_dur']
data_final['year_before_work_LS_full'] =  data_final['lower secondary_dur'] + data_final['upper secondary_dur']
data_final['year_before_work_LS_half'] =  data_final['lower secondary_dur']/2 + data_final['upper secondary_dur']
data_final['year_before_work_US_full'] = data_final['upper secondary_dur']

In [39]:
f = retrun_rate_long_term


data_final['increasemental_rate_of_salaries_Never_entered_primary_longterm'] = data_final.apply(lambda x: f(x['increasemental_rate_of_salaries_Never_entered_primary'], x['year_before_work_primary_full']), axis=1) 
data_final['increasemental_rate_of_salaries_Dropped_out_of_primary_longterm']  = data_final.apply(lambda x: f(x['increasemental_rate_of_Dropped_out_of_primary'], x['year_before_work_primary_half']), axis=1)                                                                                                            
data_final['increasemental_rate_of_salaries_Still_attending_primary_longterm'] =  data_final.apply(lambda x: f(x['increasemental_rate_of_Still_in_primary'], x['year_before_work_primary_half']), axis=1)                                                                                            

data_final['increasemental_rate_of_salaries_Did_not_transition_to_lower_secondary_longterm'] = data_final.apply(lambda x: f(x['increasemental_rate_of_salaries_Did_not_transition_to_lower_secondary'], x['year_before_work_LS_full']), axis=1) 
data_final['increasemental_rate_of_salaries_Dropped_out_of_lower_secondary_longterm'] = data_final.apply(lambda x: f(x['increasemental_rate_of_salaries_Dropped_out_of_lower_secondary'], x['year_before_work_LS_half']), axis=1) 
data_final['increasemental_rate_of_salaries_Still_attending_lower_secondary_longterm'] = data_final.apply(lambda x: f(x['increasemental_rate_of_salaries_Still_in_lower_secondary'], x['year_before_work_LS_half']), axis=1) 
data_final['increasemental_rate_of_salaries_Did_not_transition_to_upper_secondary_longterm'] = data_final.apply(lambda x: f(x['increasemental_rate_of_Did_not_transition_to_upper_secondary'], x['year_before_work_US_full']), axis=1)

In [40]:
item_to_cal = ['Total_Never entered primary','Total_Dropped out of primary','Total_Still attending primary',
             'Total_Did not transition to lower secondary','Total_Dropped out of lower secondary','Total_Still attending lower secondary',
             'Total_Did not transition to upper secondary']

for item in item_to_cal:
    item_tmp = item[6:]
    item_tmp = item_tmp.replace(" ","_")
    data_final[f"{item}_return_in_money"] = data_final[f'increasemental_rate_of_salaries_{item_tmp}_longterm'] * data_final['GDP'] * 0.5 * data_final[f'{item}_pop']
data_final

,Country,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,...,increasemental_rate_of_salaries_Dropped_out_of_lower_secondary_longterm,increasemental_rate_of_salaries_Still_attending_lower_secondary_longterm,increasemental_rate_of_salaries_Did_not_transition_to_upper_secondary_longterm,Total_Never entered primary_return_in_money,Total_Dropped out of primary_return_in_money,Total_Still attending primary_return_in_money,Total_Did not transition to lower secondary_return_in_money,Total_Dropped out of lower secondary_return_in_money,Total_Still attending lower secondary_return_in_money,Total_Did not transition to upper secondary_return_in_money
0,Afghanistan,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,...,13.837891,13.837891,16.545987,1.996547e+09,6.048351e+08,2.502804e+08,3.460158e+08,3.949691e+08,1.445733e+09,2.027080e+08
1,Albania,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,...,14.376203,14.376203,16.881562,5.048481e+07,3.159979e+07,4.390051e+06,1.792980e+07,4.121634e+07,2.749470e+06,6.556614e+08
2,Algeria,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,...,17.436179,17.436179,18.838816,9.071690e+08,1.388527e+09,1.695853e+08,2.145340e+08,6.632170e+09,1.386136e+10,1.571258e+09
3,Angola,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,...,16.935578,16.935578,18.838816,2.142678e+09,2.915107e+09,6.852004e+09,5.282400e+08,1.096396e+09,1.312353e+10,2.956632e+08
4,Argentina,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,...,14.888501,14.888501,17.355082,1.654194e+08,7.209968e+08,1.544993e+09,1.800923e+09,8.305625e+09,3.989423e+10,2.539441e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Uruguay,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,...,14.919316,14.919316,17.378273,1.445526e+08,1.662618e+08,1.023150e+08,7.629245e+08,1.781907e+09,5.833224e+09,7.832437e+08
93,Vietnam,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,...,14.522243,14.522243,16.981363,9.139269e+08,9.182577e+08,5.739110e+07,8.164429e+08,6.676018e+09,3.894344e+09,7.341827e+09
94,Yemen,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,...,16.935578,16.935578,18.838816,1.138034e+09,1.752543e+09,6.714289e+08,7.626169e+08,7.045421e+08,2.956560e+09,2.379148e+08
95,Zambia,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,...,18.935241,18.935241,19.456336,3.979373e+08,1.728378e+09,1.394430e+09,9.035625e+08,5.479807e+08,2.820663e+09,6.684642e+08
96,Zimbabwe,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,...,21.608130,21.608130,21.328855,3.668666e+08,2.653196e+09,1.635882e+08,2.648930e+09,3.102042e+09,3.894079e+09,5.334347e+09

In [41]:

data_final['all_return'] = data_final.iloc[:,-7:].sum(axis=1)

In [42]:
display(data_final)
data_final.to_csv('UNICEF_return_model.csv')

,Country,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,...,increasemental_rate_of_salaries_Still_attending_lower_secondary_longterm,increasemental_rate_of_salaries_Did_not_transition_to_upper_secondary_longterm,Total_Never entered primary_return_in_money,Total_Dropped out of primary_return_in_money,Total_Still attending primary_return_in_money,Total_Did not transition to lower secondary_return_in_money,Total_Dropped out of lower secondary_return_in_money,Total_Still attending lower secondary_return_in_money,Total_Did not transition to upper secondary_return_in_money,all_return
0,Afghanistan,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,...,13.837891,16.545987,1.996547e+09,6.048351e+08,2.502804e+08,3.460158e+08,3.949691e+08,1.445733e+09,2.027080e+08,5.241088e+09
1,Albania,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,...,14.376203,16.881562,5.048481e+07,3.159979e+07,4.390051e+06,1.792980e+07,4.121634e+07,2.749470e+06,6.556614e+08,8.040317e+08
2,Algeria,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,...,17.436179,18.838816,9.071690e+08,1.388527e+09,1.695853e+08,2.145340e+08,6.632170e+09,1.386136e+10,1.571258e+09,2.474460e+10
3,Angola,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,...,16.935578,18.838816,2.142678e+09,2.915107e+09,6.852004e+09,5.282400e+08,1.096396e+09,1.312353e+10,2.956632e+08,2.695362e+10
4,Argentina,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,...,14.888501,17.355082,1.654194e+08,7.209968e+08,1.544993e+09,1.800923e+09,8.305625e+09,3.989423e+10,2.539441e+09,5.497163e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Uruguay,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,...,14.919316,17.378273,1.445526e+08,1.662618e+08,1.023150e+08,7.629245e+08,1.781907e+09,5.833224e+09,7.832437e+08,9.574429e+09
93,Vietnam,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,...,14.522243,16.981363,9.139269e+08,9.182577e+08,5.739110e+07,8.164429e+08,6.676018e+09,3.894344e+09,7.341827e+09,2.061821e+10
94,Yemen,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,...,16.935578,18.838816,1.138034e+09,1.752543e+09,6.714289e+08,7.626169e+08,7.045421e+08,2.956560e+09,2.379148e+08,8.223640e+09
95,Zambia,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,...,18.935241,19.456336,3.979373e+08,1.728378e+09,1.394430e+09,9.035625e+08,5.479807e+08,2.820663e+09,6.684642e+08,8.461415e+09
96,Zimbabwe,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,...,21.608130,21.328855,3.668666e+08,2.653196e+09,1.635882e+08,2.648930e+09,3.102042e+09,3.894079e+09,5.334347e+09,1.816305e+10

In [43]:

datapath = Path('/Users/mengliu/Fabdata/Return_models') / 'data' 
total_GDP = pd.read_csv(datapath / 'API_NY.GDP.MKTP.CD_DS2_en_csv_v2_3607744.csv',skiprows=[0,1,2,3])
gpd_data_value = total_GDP.iloc[:,4:].T
gpd_data_value=gpd_data_value.dropna(axis=1,how='all')
gdp_data['GDP']=gpd_data_value.apply(lambda x: x[x.notnull()].values[-1]).T
total_GDP_df = gdp_data[['Country Name','GDP']]
total_GDP_df.rename({'GDP':'GDP_total'},axis='columns',inplace=True)
total_GDP_df[total_GDP_df['Country Name']=='Tanzania']

/var/folders/t8/x02xmt4j0n528hk9zhf852mm0000gn/T/ipykernel_59864/3855602296.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_GDP_df.rename({'GDP':'GDP_total'},axis='columns',inplace=True)

    Country Name     GDP_total
246     Tanzania  6.240971e+10

In [44]:
total_GDP_df = total_GDP_df.rename({'Country Name':'Country'},axis=1)

data_final = data_final.merge(total_GDP_df,on='Country',how='left')

In [45]:
data_final['%return per GDP'] = data_final['all_return']/data_final['GDP_total']*100
data_final

,Country,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,...,Total_Never entered primary_return_in_money,Total_Dropped out of primary_return_in_money,Total_Still attending primary_return_in_money,Total_Did not transition to lower secondary_return_in_money,Total_Dropped out of lower secondary_return_in_money,Total_Still attending lower secondary_return_in_money,Total_Did not transition to upper secondary_return_in_money,all_return,GDP_total,%return per GDP
0,Afghanistan,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,...,1.996547e+09,6.048351e+08,2.502804e+08,3.460158e+08,3.949691e+08,1.445733e+09,2.027080e+08,5.241088e+09,2.011614e+10,26.054148
1,Albania,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,...,5.048481e+07,3.159979e+07,4.390051e+06,1.792980e+07,4.121634e+07,2.749470e+06,6.556614e+08,8.040317e+08,1.488763e+10,5.400669
2,Algeria,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,...,9.071690e+08,1.388527e+09,1.695853e+08,2.145340e+08,6.632170e+09,1.386136e+10,1.571258e+09,2.474460e+10,1.450092e+11,17.064161
3,Angola,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,...,2.142678e+09,2.915107e+09,6.852004e+09,5.282400e+08,1.096396e+09,1.312353e+10,2.956632e+08,2.695362e+10,5.837598e+10,46.172454
4,Argentina,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,...,1.654194e+08,7.209968e+08,1.544993e+09,1.800923e+09,8.305625e+09,3.989423e+10,2.539441e+09,5.497163e+10,3.892881e+11,14.121068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Uruguay,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,...,1.445526e+08,1.662618e+08,1.023150e+08,7.629245e+08,1.781907e+09,5.833224e+09,7.832437e+08,9.574429e+09,5.362883e+10,17.853138
93,Vietnam,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,...,9.139269e+08,9.182577e+08,5.739110e+07,8.164429e+08,6.676018e+09,3.894344e+09,7.341827e+09,2.061821e+10,2.711584e+11,7.603749
94,Yemen,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,...,1.138034e+09,1.752543e+09,6.714289e+08,7.626169e+08,7.045421e+08,2.956560e+09,2.379148e+08,8.223640e+09,NaN,NaN
95,Zambia,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,...,3.979373e+08,1.728378e+09,1.394430e+09,9.035625e+08,5.479807e+08,2.820663e+09,6.684642e+08,8.461415e+09,1.811063e+10,46.720707
96,Zimbabwe,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,...,3.668666e+08,2.653196e+09,1.635882e+08,2.648930e+09,3.102042e+09,3.894079e+09,5.334347e+09,1.816305e+10,1.805117e+10,100.619779

In [46]:
data_final.to_csv('return_UNICEF_50%GDP.csv')

In [61]:
data_final = pd.read_csv('return_UNICEF_50%GDP.csv')

datapath = Path('/Users/mengliu/Fabdata/Return_models') / 'data' 
income_group = pd.read_excel(datapath / 'CLASS.xlsx')
tab_rename = {
    'Congo, Rep.':'Congo',
    'Congo, Dem. Rep.':'Democratic Republic of the Congo',
    'Egypt, Arab Rep.':'Egypt',
    'Lao PDR':'Lao People\'s Democratic Republic',
    'St. Lucia':'Saint Lucia',
    'SÃ£o TomÃ© and Principe':'Sao Tome and Principe',
    'Yemen, Rep.':'Yemen'  
}
income_group.replace(tab_rename,inplace=True)
income_group = income_group[['Economy','Income group','Code']]
data_final = data_final.merge(income_group,left_on='Country',right_on='Economy',how='left')
data_final

,Unnamed: 0,Country,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,...,Total_Did not transition to lower secondary_return_in_money,Total_Dropped out of lower secondary_return_in_money,Total_Still attending lower secondary_return_in_money,Total_Did not transition to upper secondary_return_in_money,all_return,GDP_total,%return per GDP,Economy,Income group,Code
0,0,Afghanistan,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,...,3.460158e+08,3.949691e+08,1.445733e+09,2.027080e+08,5.241088e+09,2.011614e+10,26.054148,Afghanistan,Low income,AFG
1,1,Albania,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,...,1.792980e+07,4.121634e+07,2.749470e+06,6.556614e+08,8.040317e+08,1.488763e+10,5.400669,Albania,Upper middle income,ALB
2,2,Algeria,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,...,2.145340e+08,6.632170e+09,1.386136e+10,1.571258e+09,2.474460e+10,1.450092e+11,17.064161,Algeria,Lower middle income,DZA
3,3,Angola,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,...,5.282400e+08,1.096396e+09,1.312353e+10,2.956632e+08,2.695362e+10,5.837598e+10,46.172454,Angola,Lower middle income,AGO
4,4,Argentina,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,...,1.800923e+09,8.305625e+09,3.989423e+10,2.539441e+09,5.497163e+10,3.892881e+11,14.121068,Argentina,Upper middle income,ARG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,92,Uruguay,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,...,7.629245e+08,1.781907e+09,5.833224e+09,7.832437e+08,9.574429e+09,5.362883e+10,17.853138,Uruguay,High income,URY
93,93,Vietnam,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,...,8.164429e+08,6.676018e+09,3.894344e+09,7.341827e+09,2.061821e+10,2.711584e+11,7.603749,Vietnam,Lower middle income,VNM
94,94,Yemen,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,...,7.626169e+08,7.045421e+08,2.956560e+09,2.379148e+08,8.223640e+09,NaN,NaN,Yemen,Low income,YEM
95,95,Zambia,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,...,9.035625e+08,5.479807e+08,2.820663e+09,6.684642e+08,8.461415e+09,1.811063e+10,46.720707,Zambia,Lower middle income,ZMB
96,96,Zimbabwe,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,...,2.648930e+09,3.102042e+09,3.894079e+09,5.334347e+09,1.816305e+10,1.805117e+10,100.619779,Zimbabwe,Lower middle income,ZWE

In [62]:
display(data_final[data_final['Income group'].isna()])
tmp = data_final.loc[data_final['Country']=='Kyrgyzstan']
tmp['Income group'] = 'Lower middle income'
data_final[data_final['Country']=='Kyrgyzstan'] = tmp


tmp = data_final.loc[data_final['Country']=='State of Palestine']
tmp['Income group'] = 'Lower middle income'
data_final[data_final['Country']=='State of Palestine'] = tmp
display(data_final[data_final['Income group'].isna()])

,Unnamed: 0,Country,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,...,Total_Did not transition to lower secondary_return_in_money,Total_Dropped out of lower secondary_return_in_money,Total_Still attending lower secondary_return_in_money,Total_Did not transition to upper secondary_return_in_money,all_return,GDP_total,%return per GDP,Economy,Income group,Code
48,48,Kyrgyzstan,0.449410,0.193854,0.0,0.000000,0.425819,2.526327,12.361891,84.042698,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
78,78,State of Palestine,0.738936,0.000000,0.0,0.235853,13.212041,4.922314,4.281132,76.609724,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN

/var/folders/t8/x02xmt4j0n528hk9zhf852mm0000gn/T/ipykernel_59864/2948740606.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['Income group'] = 'Lower middle income'
/var/folders/t8/x02xmt4j0n528hk9zhf852mm0000gn/T/ipykernel_59864/2948740606.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['Income group'] = 'Lower middle income'

Empty DataFrame
Columns: [Unnamed: 0, Country, Total_Never entered primary, Total_Dropped out of primary, Total_Still attending primary, Total_Did not transition to lower secondary, Total_Dropped out of lower secondary, Total_Still attending lower secondary, Total_Did not transition to upper secondary, Total_Transitioned to upper secondary, Total_population_agerange, Total_Never entered primary_pop, Total_Dropped out of primary_pop, Total_Still attending primary_pop, Total_Did not transition to lower secondary_pop, Total_Dropped out of lower secondary_pop, Total_Still attending lower secondary_pop, Total_Did not transition to upper secondary_pop, Total_Transitioned to upper secondary_pop, primary_dur, lower secondary_dur, upper secondary_dur, GDP, Year, primary_return_rate, secondary_return_rate, increasemental_rate_of_salaries_Never_entered_primary, increasemental_rate_of_Dropped_out_of_primary, increasemental_rate_of_Still_in_primary, increasemental_rate_of_salaries_Did_not_transition_to_lower_secondary, increasemental_rate_of_salaries_Dropped_out_of_lower_secondary, increasemental_rate_of_salaries_Still_in_lower_secondary, increasemental_rate_of_Did_not_transition_to_upper_secondary, year_before_work_primary_full, year_before_work_primary_half, year_before_work_LS_full, year_before_work_LS_half, year_before_work_US_full, increasemental_rate_of_salaries_Never_entered_primary_longterm, increasemental_rate_of_salaries_Dropped_out_of_primary_longterm, increasemental_rate_of_salaries_Still_attending_primary_longterm, increasemental_rate_of_salaries_Did_not_transition_to_lower_secondary_longterm, increasemental_rate_of_salaries_Dropped_out_of_lower_secondary_longterm, increasemental_rate_of_salaries_Still_attending_lower_secondary_longterm, increasemental_rate_of_salaries_Did_not_transition_to_upper_secondary_longterm, Total_Never entered primary_return_in_money, Total_Dropped out of primary_return_in_money, Total_Still attending primary_return_in_money, Total_Did not transition to lower secondary_return_in_money, Total_Dropped out of lower secondary_return_in_money, Total_Still attending lower secondary_return_in_money, Total_Did not transition to upper secondary_return_in_money, all_return, GDP_total, %return per GDP, Economy, Income group, Code]
Index: []

[0 rows x 58 columns]

In [63]:
def GDP_to_benefit_poverty(increased_GDP,income_group):
    K ={
     'Low income':0.73,
     'Lower middle income':0.66,
     'Upper middle income':0.51,
     'High income':0.59   
    }
    I = {     
     'Low income':0.455,
     'Lower middle income':0.169,
     'Upper middle income':0.016,
     'High income':0.006   
    }
    N = {     
     'Low income':0.18,
     'Lower middle income':0.043,
     'Upper middle income':0.004,
     'High income':0.004   
    }
    k = K[income_group]
    i = I[income_group]
    j = increased_GDP
    m = i*j*k
    n = N[income_group]
    o = m/(n*1.9*365*(47+8))    
    return o
#Estimated number lifted from extreme poverty
f = GDP_to_benefit_poverty
data_final['benefit_poverty'] = data_final.apply(lambda x: f(x['all_return'], x['Income group']), axis=1) 
data_final

,Unnamed: 0,Country,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,...,Total_Dropped out of lower secondary_return_in_money,Total_Still attending lower secondary_return_in_money,Total_Did not transition to upper secondary_return_in_money,all_return,GDP_total,%return per GDP,Economy,Income group,Code,benefit_poverty
0,0,Afghanistan,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,...,3.949691e+08,1.445733e+09,2.027080e+08,5.241088e+09,2.011614e+10,26.054148,Afghanistan,Low income,AFG,2.535561e+05
1,1,Albania,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,...,4.121634e+07,2.749470e+06,6.556614e+08,8.040317e+08,1.488763e+10,5.400669,Albania,Upper middle income,ALB,4.300254e+04
2,2,Algeria,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,...,6.632170e+09,1.386136e+10,1.571258e+09,2.474460e+10,1.450092e+11,17.064161,Algeria,Lower middle income,DZA,1.682804e+06
3,3,Angola,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,...,1.096396e+09,1.312353e+10,2.956632e+08,2.695362e+10,5.837598e+10,46.172454,Angola,Lower middle income,AGO,1.833032e+06
4,4,Argentina,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,...,8.305625e+09,3.989423e+10,2.539441e+09,5.497163e+10,3.892881e+11,14.121068,Argentina,Upper middle income,ARG,2.940083e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,92,Uruguay,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,...,1.781907e+09,5.833224e+09,7.832437e+08,9.574429e+09,5.362883e+10,17.853138,Uruguay,High income,URY,2.221503e+05
93,93,Vietnam,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,...,6.676018e+09,3.894344e+09,7.341827e+09,2.061821e+10,2.711584e+11,7.603749,Vietnam,Lower middle income,VNM,1.402181e+06
94,94,Yemen,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,...,7.045421e+08,2.956560e+09,2.379148e+08,8.223640e+09,NaN,NaN,Yemen,Low income,YEM,3.978476e+05
95,95,Zambia,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,...,5.479807e+08,2.820663e+09,6.684642e+08,8.461415e+09,1.811063e+10,46.720707,Zambia,Lower middle income,ZMB,5.754347e+05
96,96,Zimbabwe,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,...,3.102042e+09,3.894079e+09,5.334347e+09,1.816305e+10,1.805117e+10,100.619779,Zimbabwe,Lower middle income,ZWE,1.235213e+06

In [65]:
# tax share 


def GDP_to_benefit_revenue(increased_GDP,income_group):
    P ={
     'Low income':0.1207,
     'Lower middle income':0.1441,
     'Upper middle income':0.1545,
     'High income':0.1852   
    }
    p = P[income_group]
    j = increased_GDP
    q = j * p    
    return q
f = GDP_to_benefit_revenue
#Public revenue generated
data_final['benefit_revenue'] = data_final.apply(lambda x: f(x['all_return'], x['Income group']), axis=1) 
data_final = data_final.iloc[:,1:]
#data_final.drop('Economy_y',axis=1)
data_final.to_csv('return_UNICEF_benefit.csv')

data_final

,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,Total_Never entered primary_pop,...,Total_Still attending lower secondary_return_in_money,Total_Did not transition to upper secondary_return_in_money,all_return,GDP_total,%return per GDP,Economy,Income group,Code,benefit_poverty,benefit_revenue
0,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,940662.293496,...,1.445733e+09,2.027080e+08,5.241088e+09,2.011614e+10,26.054148,Afghanistan,Low income,AFG,2.535561e+05,6.325993e+08
1,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,1648.552290,...,2.749470e+06,6.556614e+08,8.040317e+08,1.488763e+10,5.400669,Albania,Upper middle income,ALB,4.300254e+04,1.242229e+08
2,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,38680.317844,...,1.386136e+10,1.571258e+09,2.474460e+10,1.450092e+11,17.064161,Algeria,Lower middle income,DZA,1.682804e+06,3.565697e+09
3,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,170094.617000,...,1.312353e+10,2.956632e+08,2.695362e+10,5.837598e+10,46.172454,Angola,Lower middle income,AGO,1.833032e+06,3.884017e+09
4,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,4263.968000,...,3.989423e+10,2.539441e+09,5.497163e+10,3.892881e+11,14.121068,Argentina,Upper middle income,ARG,2.940083e+06,8.493117e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,2043.552000,...,5.833224e+09,7.832437e+08,9.574429e+09,5.362883e+10,17.853138,Uruguay,High income,URY,2.221503e+05,1.773184e+09
93,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,66795.210000,...,3.894344e+09,7.341827e+09,2.061821e+10,2.711584e+11,7.603749,Vietnam,Lower middle income,VNM,1.402181e+06,2.971084e+09
94,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,211650.948000,...,2.956560e+09,2.379148e+08,8.223640e+09,NaN,NaN,Yemen,Low income,YEM,3.978476e+05,9.925934e+08
95,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,44978.377455,...,2.820663e+09,6.684642e+08,8.461415e+09,1.811063e+10,46.720707,Zambia,Lower middle income,ZMB,5.754347e+05,1.219290e+09
96,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,4481.091366,...,3.894079e+09,5.334347e+09,1.816305e+10,1.805117e+10,100.619779,Zimbabwe,Lower middle income,ZWE,1.235213e+06,2.617295e+09

In [66]:

data_final = pd.read_csv('return_UNICEF_benefit.csv')

datapath = Path('/Users/mengliu/Fabdata/Return_models') / 'data' 
hlo_group = pd.read_csv(datapath / 'hlo_Data.csv',na_values='..')
hlo_group = hlo_group[['Country Code','2020 [YR2020]']]
hlo_group = hlo_group.rename({'Country Code':'Code','2020 [YR2020]':'HLO'},axis=1)
data_final = data_final.merge(hlo_group,on='Code',how='left')
data_final

,Unnamed: 0,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,...,Total_Did not transition to upper secondary_return_in_money,all_return,GDP_total,%return per GDP,Economy,Income group,Code,benefit_poverty,benefit_revenue,HLO
0,0,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,...,2.027080e+08,5.241088e+09,2.011614e+10,26.054148,Afghanistan,Low income,AFG,2.535561e+05,6.325993e+08,354.758789
1,1,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,...,6.556614e+08,8.040317e+08,1.488763e+10,5.400669,Albania,Upper middle income,ALB,4.300254e+04,1.242229e+08,434.127594
2,2,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,...,1.571258e+09,2.474460e+10,1.450092e+11,17.064161,Algeria,Lower middle income,DZA,1.682804e+06,3.565697e+09,374.089081
3,3,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,...,2.956632e+08,2.695362e+10,5.837598e+10,46.172454,Angola,Lower middle income,AGO,1.833032e+06,3.884017e+09,325.965485
4,4,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,...,2.539441e+09,5.497163e+10,3.892881e+11,14.121068,Argentina,Upper middle income,ARG,2.940083e+06,8.493117e+09,408.172638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,92,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,...,7.832437e+08,9.574429e+09,5.362883e+10,17.853138,Uruguay,High income,URY,2.221503e+05,1.773184e+09,437.696625
101,93,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,...,7.341827e+09,2.061821e+10,2.711584e+11,7.603749,Vietnam,Lower middle income,VNM,1.402181e+06,2.971084e+09,519.100281
102,94,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,...,2.379148e+08,8.223640e+09,NaN,NaN,Yemen,Low income,YEM,3.978476e+05,9.925934e+08,321.327026
103,95,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,...,6.684642e+08,8.461415e+09,1.811063e+10,46.720707,Zambia,Lower middle income,ZMB,5.754347e+05,1.219290e+09,358.140442
104,96,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,...,5.334347e+09,1.816305e+10,1.805117e+10,100.619779,Zimbabwe,Lower middle income,ZWE,1.235213e+06,2.617295e+09,396.138824

In [67]:
data_final_tmp = data_final[['Income group','HLO']]
HLO_average_group = data_final_tmp.groupby(['Income group']).mean().reset_index()
for gi in HLO_average_group['Income group'].values:

    data_final.loc[data_final['Income group']==gi,'HLO_average'] = HLO_average_group[HLO_average_group['Income group']==gi]['HLO'].values[0]
data_final

,Unnamed: 0,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,...,all_return,GDP_total,%return per GDP,Economy,Income group,Code,benefit_poverty,benefit_revenue,HLO,HLO_average
0,0,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,...,5.241088e+09,2.011614e+10,26.054148,Afghanistan,Low income,AFG,2.535561e+05,6.325993e+08,354.758789,355.407968
1,1,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,...,8.040317e+08,1.488763e+10,5.400669,Albania,Upper middle income,ALB,4.300254e+04,1.242229e+08,434.127594,413.097653
2,2,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,...,2.474460e+10,1.450092e+11,17.064161,Algeria,Lower middle income,DZA,1.682804e+06,3.565697e+09,374.089081,387.426556
3,3,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,...,2.695362e+10,5.837598e+10,46.172454,Angola,Lower middle income,AGO,1.833032e+06,3.884017e+09,325.965485,387.426556
4,4,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,...,5.497163e+10,3.892881e+11,14.121068,Argentina,Upper middle income,ARG,2.940083e+06,8.493117e+09,408.172638,413.097653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,92,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,...,9.574429e+09,5.362883e+10,17.853138,Uruguay,High income,URY,2.221503e+05,1.773184e+09,437.696625,437.696625
101,93,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,...,2.061821e+10,2.711584e+11,7.603749,Vietnam,Lower middle income,VNM,1.402181e+06,2.971084e+09,519.100281,387.426556
102,94,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,...,8.223640e+09,NaN,NaN,Yemen,Low income,YEM,3.978476e+05,9.925934e+08,321.327026,355.407968
103,95,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,...,8.461415e+09,1.811063e+10,46.720707,Zambia,Lower middle income,ZMB,5.754347e+05,1.219290e+09,358.140442,387.426556
104,96,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,...,1.816305e+10,1.805117e+10,100.619779,Zimbabwe,Lower middle income,ZWE,1.235213e+06,2.617295e+09,396.138824,387.426556

In [68]:
datapath = Path('/Users/mengliu/Fabdata/Return_models') / 'data' 
total_pop = pd.read_csv(datapath / 'Total_population_worldbank.csv',na_values='..')
total_pop = total_pop[['Country Code','2020']]
total_pop = total_pop.rename({'Country Code':'Code','2020':'Total_pop'},axis=1)
data_final_tmp = data_final.merge(total_pop,on='Code',how='left')
data_final_tmp = data_final_tmp[['Income group','Total_pop','HLO']]
data_final['total_pop'] = data_final_tmp.Total_pop
data_final_tmp = data_final_tmp.dropna()
data_final_tmp = data_final_tmp.groupby(['Income group']).apply(lambda x:np.average(x['HLO'],weights=x['Total_pop'])).to_frame(name='weighted_avergage_hlo').reset_index()
data_final_tmp
for gi in data_final_tmp['Income group'].values:
       data_final.loc[data_final['Income group']==gi,'HLO_weighted_average'] = data_final_tmp[data_final_tmp['Income group']==gi].values[0][1]

data_final.to_csv('return_UNICEF_benefit_with_weightHLO.csv')
data_final

,Unnamed: 0,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,...,%return per GDP,Economy,Income group,Code,benefit_poverty,benefit_revenue,HLO,HLO_average,total_pop,HLO_weighted_average
0,0,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,...,26.054148,Afghanistan,Low income,AFG,2.535561e+05,6.325993e+08,354.758789,355.407968,38928341.0,350.427762
1,1,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,...,5.400669,Albania,Upper middle income,ALB,4.300254e+04,1.242229e+08,434.127594,413.097653,2837743.0,414.282878
2,2,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,...,17.064161,Algeria,Lower middle income,DZA,1.682804e+06,3.565697e+09,374.089081,387.426556,43851043.0,387.205977
3,3,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,...,46.172454,Angola,Lower middle income,AGO,1.833032e+06,3.884017e+09,325.965485,387.426556,32866268.0,387.205977
4,4,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,...,14.121068,Argentina,Upper middle income,ARG,2.940083e+06,8.493117e+09,408.172638,413.097653,45376763.0,414.282878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,92,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,...,17.853138,Uruguay,High income,URY,2.221503e+05,1.773184e+09,437.696625,437.696625,3473727.0,437.696625
101,93,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,...,7.603749,Vietnam,Lower middle income,VNM,1.402181e+06,2.971084e+09,519.100281,387.426556,97338583.0,387.205977
102,94,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,...,NaN,Yemen,Low income,YEM,3.978476e+05,9.925934e+08,321.327026,355.407968,29825968.0,350.427762
103,95,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,...,46.720707,Zambia,Lower middle income,ZMB,5.754347e+05,1.219290e+09,358.140442,387.426556,18383956.0,387.205977
104,96,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,...,100.619779,Zimbabwe,Lower middle income,ZWE,1.235213e+06,2.617295e+09,396.138824,387.426556,14862927.0,387.205977

In [70]:
# LAYS  = number of children * HLO / 650
# 
# devide 650 
data_final['LAYS'] = (data_final['year_before_work_primary_full']*data_final['HLO_weighted_average']/650*data_final['Total_Never entered primary_pop'] +
                      data_final['year_before_work_primary_half']*data_final['HLO_weighted_average']/650*data_final['Total_Dropped out of primary_pop'] +
                      data_final['year_before_work_primary_half']*data_final['HLO_weighted_average']/650*data_final['Total_Still attending primary_pop'] +
                     
                      data_final['year_before_work_LS_full']*data_final['HLO_weighted_average']/650*data_final['Total_Did not transition to lower secondary_pop'] +
                      data_final['year_before_work_LS_half']*data_final['HLO_weighted_average']/650*data_final['Total_Dropped out of lower secondary_pop'] +
                      data_final['year_before_work_LS_half']*data_final['HLO_weighted_average']/650*data_final['Total_Still attending lower secondary_pop'] +

                      data_final['year_before_work_US_full']*data_final['HLO_weighted_average']/650*data_final['Total_Did not transition to upper secondary_pop'] 

                      )
data_final

,Unnamed: 0,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,...,Economy,Income group,Code,benefit_poverty,benefit_revenue,HLO,HLO_average,total_pop,HLO_weighted_average,LAYS
0,0,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,...,Afghanistan,Low income,AFG,2.535561e+05,6.325993e+08,354.758789,355.407968,38928341.0,350.427762,9.324525e+06
1,1,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,...,Albania,Upper middle income,ALB,4.300254e+04,1.242229e+08,434.127594,413.097653,2837743.0,414.282878,5.450669e+04
2,2,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,...,Algeria,Lower middle income,DZA,1.682804e+06,3.565697e+09,374.089081,387.426556,43851043.0,387.205977,2.887422e+06
3,3,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,...,Angola,Lower middle income,AGO,1.833032e+06,3.884017e+09,325.965485,387.426556,32866268.0,387.205977,7.757331e+06
4,4,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,...,Argentina,Upper middle income,ARG,2.940083e+06,8.493117e+09,408.172638,413.097653,45376763.0,414.282878,2.645657e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,92,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,...,Uruguay,High income,URY,2.221503e+05,1.773184e+09,437.696625,437.696625,3473727.0,437.696625,2.755612e+05
101,93,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,...,Vietnam,Lower middle income,VNM,1.402181e+06,2.971084e+09,519.100281,387.426556,97338583.0,387.205977,3.163306e+06
102,94,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,...,Yemen,Low income,YEM,3.978476e+05,9.925934e+08,321.327026,355.407968,29825968.0,350.427762,5.218727e+06
103,95,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,...,Zambia,Lower middle income,ZMB,5.754347e+05,1.219290e+09,358.140442,387.426556,18383956.0,387.205977,3.485003e+06
104,96,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,...,Zimbabwe,Lower middle income,ZWE,1.235213e+06,2.617295e+09,396.138824,387.426556,14862927.0,387.205977,3.861205e+06

In [71]:
def GDP_to_benefit_lives(LAYS,total_pop):
    b = LAYS
    r = total_pop
    s = 0.0155 * b / r
    t = s * r
    return t
f = GDP_to_benefit_lives
#Public revenue generated
data_final['benefit_lives'] = data_final.apply(lambda x: f(x['LAYS'], x['total_pop']), axis=1) 

data_final

,Unnamed: 0,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,...,Income group,Code,benefit_poverty,benefit_revenue,HLO,HLO_average,total_pop,HLO_weighted_average,LAYS,benefit_lives
0,0,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,...,Low income,AFG,2.535561e+05,6.325993e+08,354.758789,355.407968,38928341.0,350.427762,9.324525e+06,144530.130727
1,1,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,...,Upper middle income,ALB,4.300254e+04,1.242229e+08,434.127594,413.097653,2837743.0,414.282878,5.450669e+04,844.853662
2,2,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,...,Lower middle income,DZA,1.682804e+06,3.565697e+09,374.089081,387.426556,43851043.0,387.205977,2.887422e+06,44755.033989
3,3,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,...,Lower middle income,AGO,1.833032e+06,3.884017e+09,325.965485,387.426556,32866268.0,387.205977,7.757331e+06,120238.637902
4,4,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,...,Upper middle income,ARG,2.940083e+06,8.493117e+09,408.172638,413.097653,45376763.0,414.282878,2.645657e+06,41007.681791
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,92,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,...,High income,URY,2.221503e+05,1.773184e+09,437.696625,437.696625,3473727.0,437.696625,2.755612e+05,4271.198517
101,93,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,...,Lower middle income,VNM,1.402181e+06,2.971084e+09,519.100281,387.426556,97338583.0,387.205977,3.163306e+06,49031.236095
102,94,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,...,Low income,YEM,3.978476e+05,9.925934e+08,321.327026,355.407968,29825968.0,350.427762,5.218727e+06,80890.272688
103,95,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,...,Lower middle income,ZMB,5.754347e+05,1.219290e+09,358.140442,387.426556,18383956.0,387.205977,3.485003e+06,54017.553411
104,96,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,...,Lower middle income,ZWE,1.235213e+06,2.617295e+09,396.138824,387.426556,14862927.0,387.205977,3.861205e+06,59848.684307

In [72]:
def GDP_to_benefit_early_marriage(LAYS,income_group):
    X={
     'Low income':0.4946,
     'Lower middle income':0.7956,
     'Upper middle income':0.9372,
     'High income':0.9547   
    }
    Y={
     'Low income':0.7618,
     'Lower middle income':0.8923,
     'Upper middle income':0.9764,
     'High income':0.9738   
    }
    x = X[income_group]
    y = Y[income_group]
    
    b = LAYS
    w = b/2
    z = 0.075 * w * x * y 
    return z
f = GDP_to_benefit_early_marriage
#Public revenue generated
data_final['benefit_early_marriage'] = data_final.apply(lambda x: f(x['LAYS'],x['Income group']), axis=1) 

data_final.to_csv('return_UNICEF_benefit_with_all.csv')
data_final

,Unnamed: 0,Total_Never entered primary,Total_Dropped out of primary,Total_Still attending primary,Total_Did not transition to lower secondary,Total_Dropped out of lower secondary,Total_Still attending lower secondary,Total_Did not transition to upper secondary,Total_Transitioned to upper secondary,Total_population_agerange,...,Code,benefit_poverty,benefit_revenue,HLO,HLO_average,total_pop,HLO_weighted_average,LAYS,benefit_lives,benefit_early_marriage
0,0,33.861341,8.254577,3.415739,3.786342,3.976628,14.555927,1.706868,30.442579,2777.983,...,AFG,2.535561e+05,6.325993e+08,354.758789,355.407968,38928341.0,350.427762,9.324525e+06,144530.130727,131750.734607
1,1,1.099108,0.713800,0.099166,0.371935,0.728686,0.048609,9.871478,87.067217,149.990,...,ALB,4.300254e+04,1.242229e+08,434.127594,413.097653,2837743.0,414.282878,5.450669e+04,844.853662,1870.428500
2,2,2.157483,3.252027,0.397181,0.444625,12.831457,26.817983,2.813620,51.285623,1792.845,...,DZA,1.682804e+06,3.565697e+09,374.089081,387.426556,43851043.0,387.205977,2.887422e+06,44755.033989,76868.273780
3,3,7.700000,9.700000,22.800000,1.600000,3.300000,39.500000,0.800000,14.700000,2209.021,...,AGO,1.833032e+06,3.884017e+09,325.965485,387.426556,32866268.0,387.205977,7.757331e+06,120238.637902,206513.898287
4,4,0.200000,0.700000,1.500000,1.400000,6.100000,29.300000,1.600000,59.300000,2131.984,...,ARG,2.940083e+06,8.493117e+09,408.172638,413.097653,45376763.0,414.282878,2.645657e+06,41007.681791,90787.245362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,92,1.400000,1.300000,0.800000,4.800000,10.600000,34.700000,4.000000,42.400000,145.968,...,URY,2.221503e+05,1.773184e+09,437.696625,437.696625,3473727.0,437.696625,2.755612e+05,4271.198517,9606.960818
101,93,1.700000,1.600000,0.100000,1.200000,8.400000,4.900000,7.900000,74.300000,3929.130,...,VNM,1.402181e+06,2.971084e+09,519.100281,387.426556,97338583.0,387.205977,3.163306e+06,49031.236095,84212.794493
102,94,10.800000,15.400000,5.900000,6.100000,5.600000,23.500000,1.700000,31.000000,1959.731,...,YEM,3.978476e+05,9.925934e+08,321.327026,355.407968,29825968.0,350.427762,5.218727e+06,80890.272688,73737.931292
103,95,3.524882,16.126955,13.010990,7.777071,4.604374,23.700449,5.466298,25.788981,1276.025,...,ZMB,5.754347e+05,1.219290e+09,358.140442,387.426556,18383956.0,387.205977,3.485003e+06,54017.553411,92776.961927
104,96,0.336348,6.855908,0.422715,14.874372,17.744506,22.275173,30.913427,6.577552,1332.280,...,ZWE,1.235213e+06,2.617295e+09,396.138824,387.426556,14862927.0,387.205977,3.861205e+06,59848.684307,102792.125054