In [1]:
import pandas as pd
df=pd.read_csv('return_UNICEF_benefit_with_all.csv')

In [11]:
df['sum_children'] = df[['Total_Never entered primary_pop',	'Total_Dropped out of primary_pop',	
                         'Total_Still attending primary_pop', 'Total_Did not transition to lower secondary_pop',
                         'Total_Dropped out of lower secondary_pop',	'Total_Still attending lower secondary_pop',
                         'Total_Did not transition to upper secondary_pop',	'Total_Transitioned to upper secondary_pop']].sum(axis=1)
res = df['sum_children'].sum(axis=0)
res

271214411.4307273

In [13]:
res = df['all_return'].sum(axis=0)
res

1958219417169.0007

In [27]:
res = df['benefit_poverty'].sum(axis=0)
res

120939126.15668851

In [28]:
res = df.groupby(['Income group'])['benefit_poverty'].sum()
res

Income group
High income            2.261600e+05
Low income             8.709927e+06
Lower middle income    8.157442e+07
Upper middle income    3.042862e+07
Name: benefit_poverty, dtype: float64

In [23]:
res = df.groupby(['Income group'])['sum_children'].sum()
res

Income group
High income            1.533500e+05
Low income             3.778634e+07
Lower middle income    2.008504e+08
Upper middle income    3.242431e+07
Name: sum_children, dtype: float64

In [24]:
res = df.groupby(['Income group'])['all_return'].sum()
res

Income group
High income            9.747240e+09
Low income             1.800371e+11
Lower middle income    1.199502e+12
Upper middle income    5.689332e+11
Name: all_return, dtype: float64

In [25]:
res = df.groupby(['Income group'])['benefit_revenue'].sum()
res

Income group
High income            1.805189e+09
Low income             2.173047e+10
Lower middle income    1.728482e+11
Upper middle income    8.790018e+10
Name: benefit_revenue, dtype: float64

In [15]:
res = df['benefit_revenue'].sum(axis=0)
res

284284067413.39105

In [29]:

res = df.groupby(['Income group'])['benefit_lives'].sum()
res

Income group
High income            4.317852e+03
Low income             1.975761e+06
Lower middle income    5.527592e+06
Upper middle income    6.043781e+05
Name: benefit_lives, dtype: float64

In [ ]:

res = df['benefit_lives'].sum(axis=0)
res

In [17]:
res = df['benefit_early_marriage'].sum(axis=0)
res

12666877.013333948

In [30]:

res = df.groupby(['Income group'])['benefit_early_marriage'].sum()
res

Income group
High income            9.711895e+03
Low income             1.801064e+06
Lower middle income    9.518064e+06
Upper middle income    1.338038e+06
Name: benefit_early_marriage, dtype: float64

In [19]:
df['Income group'].unique()

array(['Low income', 'Upper middle income', 'Lower middle income',
       'High income'], dtype=object)